<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" id='id1' name='a1' placeholder="id1">
        <input type="text" id='id2' name="a2" placeholder="id2">
        <button type="submit">submit</button>
    </form>
    
</body>
</html>